<?xml version="1.0"?>

<model>
  <name>TurtleBot with sensors(Red)</name>
  <version>1.0</version>
  <sdf version="1.5">model_r.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A model of the turtlebot with Diff-Drive Plugin, hokuyo plugin and camera Plugin.(Red)
  </description>

  <depend>
    <model>
      <uri>model://create_rc2016</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
