<?xml version="1.0"?>

<model>
  <name>Pioneer 2DX with Sensors(Red)</name>
  <version>1.0</version>
  <sdf version="1.5">model_r.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A model of the pioneer 2DX robot with Diff-Drive Plugin, hokuyo plugin and camera Plugin.(Red)
  </description>

  <depend>
  </depend>
</model>
