<?xml version="1.0"?>
<model>
  <name>crawler robot with flipper arm(Green)</name>
  <version>1.0</version>
  <sdf version='1.4'>model_g.sdf</sdf>

  <author>
   <name>Masaru Shimizue</name>
   <email>shimizu@sist.chukyo-u.ac.jp</email>
  </author>

  <description>
    Crawler robot having 4 flipper arms.(Green)
  </description>
</model>
