<?xml version="1.0"?>

<model>
  <name>Hokuyo modified for RoboCup 2016</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>John Hsu</name>
    <email>hsu@osrfoundation.org</email>
  </author>

  <description>
    Hokuyo model modified for RoboCup 2016
  </description>
</model>
